
.contact-info-data a:link {
	color:#01F4FA;
} 

#contacts {
	color: white;
	width: 277px;
	height: 438px;
	font-family: helvetica;
	font-size: 12px;
}

.contact {
	clear: both;
	height: 40px;
	width: 100%;
	border-top: solid;
	border-color: black;
	border-width: 2px;
	line-height: 40px;
}

#contacts-header {
	height: 53px;
	line-height: 53px;
	padding-left: 20px;
	background-color: #373737;
	font-size: 14px;
	font-weight: bold;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#contacts-footer {
	height:  47px;
	background-color: #373737;
	border-top: solid 2px black;
	border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; 
}

.overlay {
	opacity: .5;
	height: 77%;
	width: 100%;
	position: relative;
	background-color: black;
	z-index: 1;
	margin-top: -385px;
}

.online-status-holder {
	width: 20px;
	height: 100%;
	float: left;
}

.online-status {
	width: 10px;
	float: left;
	border: 3px solid;
	background-color: red;
    border-radius: 50%;
	height: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin-top: 15px;
	margin-left: 10px;
}

.contact-present {
	border: 3px solid #00FE2C;
	border-color: #00FE2C;
	background-color: #00FE2C;
}

.contact-away {
	border: 3px solid #FBFA00;
	background-color: #FBFA00;
}

.contact-busy {
	border: 3px solid #FC0500;
	background-color: #FC0500;
}

.contact-dark {
	background-color: #373737;
}

.contact-light {
	background-color: #1A1A1A;
}

.contact-name {
	width: 70px;
	float: left;
	height: 100%;
	border-right: solid;
	border-color: #1F1F1F;
	margin-left: 10px;
}

.contact-info {
	float: left;
	width: 160px;
	padding-left: 10px;
}

.contact-info-data {
	background-color: #484848;
	position: absolute;
	width: 161px;
	margin-top: -40px;
	margin-left: -13px;
	padding-bottom: 20px;
	padding-left: 15px;
}

.contact-address {
	line-height: normal;
}

.street-address {
	display: block;
}

.selected-contact {
	background-color: #484848;
	position: relative;
	z-index: 1000; 
}

#options-holder {
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}


